---
import type { CollectionEntry } from 'astro:content'
import Title from '@components/icons/Title.astro'
import Examples from '@components/icons/Examples.astro'
import Snippets from '@components/icons/Snippets.astro'

interface Props {
  icon: CollectionEntry<'icons'>['data']
}

const { icon } = Astro.props
const iconAdapt = `<svg class="icon icon-adaptive"><use xlink:href="#${icon.title}"/></svg>`
---

<Title icon={icon} />
<hr class="mb-xlarge" />
<div class="row">
  <main class="col-medium-8" id="content">
    <div
      class="icon-demo border rounded d-flex align-items-center justify-content-center"
      style="font-size: 10rem;"
      role="img"
      aria-label={`${icon.title} - large preview`}
    >
      <Fragment set:html={iconAdapt} />
    </div>
    <div>
      <Examples icon={icon} />
    </div>
  </main>
  <aside class="col-medium-4">
    <Snippets icon={icon} />
  </aside>
</div>
