---
import type { CollectionEntry } from 'astro:content'

interface Props {
  icon: CollectionEntry<'icons'>['data']
}

const { icon } = Astro.props
const iconAdapt = `<svg class="icon icon-adaptive"><use xlink:href="#${icon.title}"/></svg>`
const iconBase = `<svg class="icon"><use xlink:href="#${icon.title}"/></svg>`
---

<h2 class="font-strong">Examples</h2>
<div class="p-medium p-md-large border rounded icon-demo-examples">
  <div class="h1 align-items-center">
    <Fragment set:html={iconAdapt} />
    Heading
  </div>
  <div class="h3">
    <Fragment set:html={iconAdapt} />
    Smaller heading
  </div>
  <p>
    Inline text <Fragment set:html={iconAdapt} />
  </p>
  <p>
    <a href="#" class="text-decoration-none">
      Example link text
      <Fragment set:html={iconAdapt} />
    </a>
  </p>
  <div class="d-flex gap-small mb-medium">
    <button type="button" class="button default">
      <Fragment set:html={iconBase} />
      Button
    </button>
    <button type="button" class="button primary">
      <Fragment set:html={iconBase} />
      Button
    </button>
    <button type="button" class="button primary outline">
      <Fragment set:html={iconBase} />
      Button
    </button>
    <button type="button" class="button primary smooth">
      <Fragment set:html={iconBase} />
      Button
    </button>
  </div>
  <div class="d-flex gap-small mb-medium">
    <button type="button" class="button default">
      <Fragment set:html={iconBase} />
    </button>
    <button type="button" class="button secondary">
      <Fragment set:html={iconBase} />
    </button>
    <div class="button-group">
      <button type="button" class="button default">
        <Fragment set:html={iconBase} />
        <span class="visually-hidden">Button</span>
      </button>
      <button type="button" class="button default">
        <Fragment set:html={iconBase} />
        <span class="visually-hidden">Button</span>
      </button>
      <button type="button" class="button default">
        <Fragment set:html={iconBase} />
        <span class="visually-hidden">Button</span>
      </button>
    </div>
    <div class="button-group">
      <button type="button" class="button secondary">
        <Fragment set:html={iconBase} />
        <span class="visually-hidden">Button</span>
      </button>
      <button type="button" class="button secondary">
        <Fragment set:html={iconBase} />
        <span class="visually-hidden">Button</span>
      </button>
      <button type="button" class="button secondary">
        <Fragment set:html={iconBase} />
        <span class="visually-hidden">Button</span>
      </button>
    </div>
  </div>
  <div class="mb-medium">
    <div class="input-group">
      <span class="input-addon" id="basic-addon1">
        <Fragment set:html={iconBase} />
      </span>
      <input
        type="text"
        class="form-input"
        placeholder="Input group example"
        aria-label="Input group example"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
  <div class="notification success d-flex align-items-center" role="alert">
    <Fragment set:html={iconBase} />
    <p>An example notification with an icon!</p>
  </div>
</div>
