---
import path from 'path'
import type { CollectionEntry } from 'astro:content'
import { readFileSync, existsSync } from 'fs'
import Code from '@shortcodes/Code.astro'

interface Props {
  icon: CollectionEntry<'icons'>['data']
}

const { icon } = Astro.props

// When running from project root, docsDir will be "site", so we need to adjust paths accordingly
const projectRoot = existsSync('./site') ? '.' : '..'
const svgPath = path.join(process.cwd(), projectRoot, 'icons', 'svgs', `${icon.title}.svg`)
const svgCode = readFileSync(svgPath, 'utf-8')
const codepoints = JSON.parse(readFileSync(path.join(process.cwd(), projectRoot, 'dist', 'chassis-icons.json'), 'utf-8'))
const hexCodepoint = parseInt(codepoints[icon.title]).toString(16).toUpperCase()
---

<div class="col-lg-4 mb-large">

  <h3 class="mb-0">Download</h3>
  <p>Download the SVG to use or edit.</p>
  <a href={svgPath} class="button large primary" download>Download SVG</a>

  <h3 class="mb-0">SVG sprite</h3>
  <p>Use this code for svg icons.</p>
  <div>
    <Code lang="html" code={`<svg><use xlink:href="#${icon.title}"/></svg>`} />
  </div>

  <h3 class="mb-0">Icon font</h3>
  <p>Using the web font with a span element.</p>
  <div>
    <Code lang="html" code={`<span class="icon icon-${icon.title}"/></span>`} />
  </div>

  <h3 class="mb-0">Embedded</h3>
  <p>Paste the SVG right into your project's code.</p>
  <Code lang="html" code={svgCode} />

  <h3 class="mb-0">Code point</h3>
  <p>Paste the code point into your project.</p>
  <div class="mb-4">
    <dl class="row">
      <dt class="col-small-3">Unicode:</dt>
      <dd class="col-small-9"><code>U+{hexCodepoint}</code></dd>

      <dt class="col-small-3">CSS:</dt>
      <dd class="col-small-9"><code>\{hexCodepoint}</code></dd>

      <dt class="col-small-3">JS:</dt>
      <dd class="col-small-9"><code>\u{hexCodepoint}</code></dd>

      <dt class="col-small-3">HTML:</dt>
      <dd class="col-small-9"><code>&amp;#x{hexCodepoint};</code></dd>
    </dl>
  </div>


</div>
