---
import type { CollectionEntry } from 'astro:content'
import { getSlug } from '@libs/utils'

interface Props {
  icon: CollectionEntry<'icons'>['data']
}

const { icon } = Astro.props
// const { title, categories, tags } = Astro.props.icon
---

<div class="row align-items-md-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-page"><a href="/icons">Icons</a></li>
      <li class="breadcrumb-page active" aria-current="page">{icon.title}</li>
    </ol>
  </nav>
  <h1 class="cxd-title mb-0" id="title">{icon.title}</h1>
  {
    icon.categories && icon.tags && (
      <div>
        <ul class="bulletless mb-medium">
          {icon.tags && (
            <li>
              <strong>Tags:</strong>
              {icon.tags.split(',').map((tag) => (
                <a class="badge secondary" href={`/icons/tags/${getSlug(tag)}/`}>
                  {tag}
                </a>
              ))}
            </li>
          )}
          {icon.categories && (
            <li>
              <strong>Category:</strong>
              {icon.categories.split(',').map((category) => (
                <a class="badge secondary" href={`/icons/categories/${getSlug(category)}/`}>
                  {category}
                </a>
              ))}
            </li>
          )}
        </ul>
      </div>
    )
  }
</div>
