---
import { getConfig } from '@libs/config'
import ResponsiveImage from '@layouts/partials/ResponsiveImage.astro'
---

<footer class="cxd-footer py-large py-medium-5 mt-xlarge bg-evident">
  <div class="container py-large py-medium-5 px-large px-medium-3 fg-subtle">
    <div class="row">
      <div class="col-large-3 mb-medium">
        <a
          class="d-inline-flex align-items-center mb-xsmall text-body-emphasis text-decoration-none"
          href="/"
          aria-label="Chassis"
        >
        <img src="/assets/logo/chassis-logo-brand.svg" alt="Chassis UI Logo" width="162" height="42" />
        </a>
        <p>This project is licensed under the MIT License, which allows for free use, modification, and distribution of the software.</p>
      </div>
      <div class="col-6 col-large-2 offset-large-1 mb-medium">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-xsmall"><a href="/">Home</a></li>
          <li class="mb-xsmall"><a href={'/'}>Docs</a></li>
          <li class="mb-xsmall"><a href={'examples'}>Examples</a></li>
          <li class="mb-xsmall"><a href={getConfig().icons}>Icons</a></li>
          <li class="mb-xsmall"><a href={getConfig().themes}>Themes</a></li>
          <li class="mb-xsmall"><a href={getConfig().blog}>Blog</a></li>
          <li class="mb-xsmall"><a href={getConfig().swag} target="_blank" rel="noopener">Swag Store</a></li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-xsmall"><a href={'getting-started'}>Getting started</a></li>
          <li class="mb-xsmall"><a href={'examples/starter-template'}>Starter template</a></li>
          <li class="mb-xsmall"><a href={'getting-started/webpack'}>Webpack</a></li>
          <li class="mb-xsmall"><a href={'getting-started/parcel'}>Parcel</a></li>
          <li class="mb-xsmall"><a href={'getting-started/vite'}>Vite</a></li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Projects</h5>
        <ul class="list-unstyled">
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/chassis`} target="_blank" rel="noopener">Chassis 5</a>
          </li>
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/chassis-css/tree/v4-dev`} target="_blank" rel="noopener">Chassis 4</a>
          </li>
          <li class="mb-xsmall"><a href={`${getConfig().github_org}/icons`} target="_blank" rel="noopener">Icons</a></li>
          <li class="mb-xsmall"><a href={`${getConfig().github_org}/rfs`} target="_blank" rel="noopener">RFS</a></li>
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/examples`} target="_blank" rel="noopener">Examples repo</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/chassis-css/issues`} target="_blank" rel="noopener">Issues</a>
          </li>
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/chassis-css/discussions`} target="_blank" rel="noopener">Discussions</a>
          </li>
          <li class="mb-xsmall">
            <a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Corporate sponsors</a>
          </li>
          <li class="mb-xsmall"><a href={getConfig().opencollective} target="_blank" rel="noopener">Open Collective</a></li>
          <li class="mb-xsmall">
            <a href="https://stackoverflow.com/questions/tagged/chassis-5" target="_blank" rel="noopener"
              >Stack Overflow</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
