---
import { getConfig } from '@libs/config'
import type { Layout } from '@libs/layout'
import ChassisWhiteFillIcon from '@components/svgs/ChassisWhiteFillIcon.astro'
import GitHubIcon from '@components/svgs/GitHubIcon.astro'
import HamburgerIcon from '@components/svgs/HamburgerIcon.astro'
import LinkItem from '@components/header/LinkItem.astro'
import OpenCollectiveIcon from '@components/svgs/OpenCollectiveIcon.astro'
import XIcon from '@components/svgs/XIcon.astro'
import ThemeToggler from '@layouts/partials/ThemeToggler.astro'

interface Props {
  layout: Layout
  title: string
}

const { layout, title } = Astro.props
---

<header class="navbar navbar-expand-large cxd-navbar sticky-top">
  <nav class="container-2xlarge cxd-gutter flex-wrap flex-large-nowrap" aria-label="Main navigation">
    {
      layout === 'docs' && (
        <div class="cxd-navbar-toggle">
          <button
            class="navbar-toggler p-xsmall2"
            type="button"
            data-cx-toggle="offcanvas"
            data-cx-target="#cxdSidebar"
            aria-controls="cxdSidebar"
            aria-label="Toggle docs navigation"
          >
            <HamburgerIcon class="bi" height={24} width={24} />
            <span class="d-none fs-6 pe-2xsmall">Browse</span>
          </button>
        </div>
      )
    }
    {layout !== 'docs' && <div class="d-large-none" style="width: 4.25rem;" />}

    <a class="navbar-brand p-0 me-0 me-large-2" href="/" aria-label="Chassis">
      <img src="/assets/logo/chassis-icon-white-banner.svg" alt="Chassis UI" width="32" height="32" />
    </a>

    <div class="d-flex">
      <div class="cxd-search" id="docsearch" data-cxd-docs-version={getConfig().docs_version}></div>

      <button
        class="navbar-toggler d-flex d-large-none order-3 p-xsmall"
        type="button"
        data-cx-toggle="offcanvas"
        data-cx-target="#cxdNavbar"
        aria-controls="cxdNavbar"
        aria-label="Toggle navigation"
      >
        <svg class="bi" aria-hidden="true"><use xlink:href="#ellipsis-h-solid"></use></svg>
      </button>
    </div>

    <div
      class="offcanvas-large offcanvas-end flex-grow-1"
      tabindex="-1"
      id="cxdNavbar"
      aria-labelledby="cxdNavbarOffcanvasLabel"
    >
      <div class="offcanvas-header px-large pb-0">
        <h5 class="offcanvas-title text-white" id="cxdNavbarOffcanvasLabel">Chassis</h5>
        <button
          type="button"
          class="close-button close-button-white"
          data-cx-dismiss="offcanvas"
          aria-label="Close"
          data-cx-target="#cxdNavbar"></button>
      </div>

      <div class="offcanvas-body p-large pt-0 p-large-0">
        <hr class="d-large-none text-white-50" />
        <ul class="navbar-nav flex-row flex-wrap cxd-navbar-nav py-xsmall">
          <LinkItem active={layout === 'docs'} href={'getting-started/introduction/'} track>
            Docs
          </LinkItem>
          <LinkItem active={layout === 'icons'} href="/icons" track>Icons</LinkItem>
          <LinkItem active={title === 'Tokens'} href="/tokens" track>Themes</LinkItem>
          <LinkItem active={title === 'Examples'} href={'examples/'} track>Examples</LinkItem>
          <LinkItem active={layout === 'blog'} href={'blog/'} track>Blog</LinkItem>
        </ul>

        <hr class="d-large-none text-white-50" />

        <ul class="navbar-nav flex-row flex-wrap ms-medium-auto align-items-center">
          <LinkItem class="nav-link px-0 px-large-2" href={getConfig().github_org} target="_blank" rel="noopener">
            <GitHubIcon class="navbar-nav-svg" height={16} width={16} />
            <small class="d-large-none ms-xsmall">GitHub</small>
          </LinkItem>
          <LinkItem
            class="nav-link px-0 px-large-2"
            href={`https://x.com/${getConfig().x}`}
            target="_blank"
            rel="noopener"
          >
            <XIcon class="navbar-nav-svg" height={16} width={16} />
            <small class="d-large-none ms-xsmall">X</small>
          </LinkItem>
          <LinkItem class="nav-link px-0 px-large-2" href={getConfig().opencollective} target="_blank" rel="noopener">
            <OpenCollectiveIcon class="navbar-nav-svg" height={16} width={16} />
            <small class="d-large-none ms-xsmall">Open Collective</small>
          </LinkItem>
          <li class="nav-item col-12 col-large-auto">
            <div class="vr d-none d-large-flex h-100 mx-large-2 text-white"></div>
            <hr class="d-large-none my-xsmall text-white-50" />
          </li>

          <li class="nav-item col-12 col-large-auto">
            <div class="vr d-none d-large-flex h-100 mx-large-2 text-white"></div>
            <hr class="d-large-none my-xsmall text-white-50" />
          </li>

          <li class="nav-item dropdown">
            <ThemeToggler layout={layout} />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
